.about-head{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
} 
.about-head h1{
    font-size: 50px;
    font-weight: 800;
    color: #274C5B;
}


.aboutHero{
    display: flex;
}
.about-hero-img{
    width: 721px;
}
.about-hero-img img{
    width: 100%;
}
.about-hero-content{
    padding-top: 75px;
}
.about-content-hero-card{
    display: flex;
    width: 490px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-content-card-one img{
    width: 46px;
    height: 46px;
}
.about-content-card-one-img{
    width: 100%;
}
.about-content-card-one{
    display: flex;
    gap: 10px;
    align-items: center;
}
.about-content-card-h4{
    font-size: 18px;
    color: #274C5B;
}


.about-bc-color{
    height: 1029px;
    background-color: #F9F8F8;
    margin-bottom: 155px;
}
.choose-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 155px;
}

.circle-one{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 241px;
    height: 61px;
    border-radius: 35px;
    background-color: #ECECEC;
    padding-left: 15px;
}
.circle-one p{
    color: #274C5B;
    font-weight: 500;
}

.choose-block-content{
    width: 671px;
}


.chooseImg{
    width: 678px;
}
.chooseImg img{
    width: 100%;
}
.choose-cards{
    padding-top: 50px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.choose-card{
    padding-top: 35px;
    width: 207px;
    height: 265px;
    border: none;
    border-radius: 15px;
    background-color: white;
}




.our-team-head{
    text-align: center;
}

.our-team-cards{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 155px;
}
.our-team-card{
    border-radius: 22px;
    background-color: #F9F8F8;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.our-team-card:hover{
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0.5, 0.1);
}
.our-team-img{
    width: 329px;
}
.our-team-img img{
    width: 100%;
}
.our-team-content-2{
    display: flex;
    justify-content: space-between;
}
.our-team-card-content{
    height: 70px;
    width: 290px;
    margin: 0 auto;
}
.our-team-card-content h4{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #274C5B;
    margin-bottom: 3px;
}
.our-team-cont-span span{
    font-size: 18px;
    font-family: "Yellowtail", cursive;
    color: #7EB693;
}




.about-blue-bc{
    background-color: #274C5B;
    height: 600px;
    margin-bottom: 155px;
}
.about-blue-head{
    text-align: center;
    padding-top: 100px;
}
.about-blue-head h1{
    font-size: 45px;
    color: white;
}
.about-blue-cards{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 155px;
}
.about-blue-card img{
    width: 240px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 5px;
}
.about-blue-card h3{
    color: white;
    font-size: 18px;
    font-weight: 450; 
}
