.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #525C60;
}
.contact{
    width: 290px;
    height: 320px;
    text-align: right;
    padding-right: 40px;
}
.contact a{
    text-decoration: none;
    color: #525C60;
}
.logo{
    width: 500px;
    height: 246px;
    text-align: center;
}
.logo img{
    width: 199px;
    height: 54px;
}
.logo p{
    width: 450px;
    margin: 0 auto;
}
.lost{
    width: 280px;
    height: 304px;
    text-align: left;
    padding-left: 40px;
}
.lost li{
    list-style: none;
    color: #274C5B;
}
.social-icons button{
    border-radius: 50px;
    margin-left: 10px;
    padding: 10px;
    background-color: #EFF6F1;
    color: #274C5B;
    border: none;
}
.lost a{
    color: #274C5B;
    text-decoration: none;
}
.divider {
    width: 1px;
    background-color: #D4D4D4;
    height: 306px;
}
.lost-p{
    text-align: center;
    color: #525C60;
}